.heapBox
{
clear:both;
display:inline-block;
line-height:35px;
position:relative;
}

.heapBox *
{
margin:0;
padding:0;
outline: none;
}

.heapBox.disabled .holder
{
color:#989898;
}

.heapBox.disabled .handler
{
background:url(../gfx/heapbox_bg.jpg) repeat-x;
}

.heapBox a{
text-decoration:none;
color:#fff;
}

.heapBox .holder
{
width:150px;
overflow:hidden;
background:url(../gfx/heapbox_bg.jpg) repeat-x;
text-indent:20px;
border:1px solid #030303;
border-right:none;
height:35px;
}

.heapBox .handler
{
width:25px;
background:url(../gfx/heapbox_handler_bg.jpg) no-repeat;
height:35px;
border:1px solid #030303;
border-left:none;

}

.heapBox .holder,.heapBox .handler
{
float:left;
position:relative;
z-index:10;
}

.heapBox div.heap
{
display:none;
position:absolute;
list-style-type:none;
left:0;
width:175px;
top:36px;
overflow:hidden;
border:1px solid #000;
border-top:none;
}

.heapBox .heap .heapOptions
{
display:block;
overflow:hidden;
z-index:20;
position:relative;
}

.heapBox .heap a.sliderUp
{
display:block;
width:100%;
height:15px;
background:#333 url(../gfx/slider_arrow_up.png);
background-repeat:no-repeat;
background-position:center center;
border-bottom:1px solid #111;
position:absolute;
top:0px;
z-index:30;
}

.heapBox .heap a.sliderDown
{
display:block;
width:100%;
height:15px;
background:#333 url(../gfx/slider_arrow_down.png);
background-repeat:no-repeat;
background-position:center center;
border-top:1px solid #111;
position:absolute;
bottom:0px;
z-index:30;
}

.heapBox .heap .heapOptions .heapOption
{
z-index:20;
position:relative;
display:block;
height:35px;
}

.heapBox .heap .heapOptions .heapOption a{
width:100%;
display:block;
background:url(../gfx/heapbox_heapitem_bg.jpg) repeat-x;
text-indent:20px;
}

.heapBox .heap .heapOptions .heapOption a:hover{
background:url(../gfx/heapbox_heapitem_hover_bg.jpg) repeat-x;
}

.heapBox .heap .heapOptions .heapOption a.selected{
background:url(../gfx/heapbox_heapitem_hover_bg.jpg) repeat-x;
}

.heapBox .heap .heapOptions .heapOption a.disabled{
	color:#777;
}

.heapBox .heap .heapOptions .heapOption a.disabled:hover{
	background:url(../gfx/heapbox_heapitem_bg.jpg) repeat-x;
}
