.heapBox
{
clear:both;
display:inline-block;
line-height:35px;
position:relative;
}

.heapBox *
{
margin:0;
padding:0;
}

.heapBox.disabled .holder
{
color:#30C3A5;
}

.heapBox a{
text-decoration:none;
color:#fff;
}

.heapBox .holder
{
width:150px;
overflow:hidden;
background:#16a085;
text-indent:20px;
height:35px;
}

.heapBox .handler
{
width:25px;
background:#16a085 url(../gfx/heapbox_handler_bg.jpg);
height:35px;
}

.heapBox .holder,.heapBox .handler
{
float:left;
position:relative;
z-index:10;
}

.heapBox div.heap
{
display:none;
position:absolute;
list-style-type:none;
left:0;
width:175px;
top:37px;
overflow:hidden;

}

.heapBox .heap .heapOptions
{
display:block;
	}

.heapBox .heap .heapOptions .heapOption
{
z-index:20;
position:relative;
display:block;
height:35px;
}

.heapBox .heap .heapOptions .heapOption a{
width:100%;
display:block;
background:#16a085;
text-indent:20px;
}

.heapBox .heap .heapOptions .heapOption a:hover{
background:#0c7a64;
}

.heapBox .heap .heapOptions .heapOption a.selected{
background:#0c7a64;
}

