.heapBox
{
clear:both;
display:inline-block;
line-height:35px;
position:relative;
}

.heapBox *
{
margin:0;
padding:0;
outline: none;
}

.heapBox.disabled .holder
{
color:#BB61E2;
}

.heapBox a{
text-decoration:none;
color:#fff;
}

.heapBox .holder
{
width:150px;
overflow:hidden;
background:#8e44ad;
text-indent:20px;
height:35px;
}

.heapBox .handler
{
width:25px;
background:#8e44ad url(../gfx/heapbox_handler_bg.jpg);
height:35px;
}

.heapBox .holder,.heapBox .handler
{
float:left;
position:relative;
z-index:10;
}

.heapBox div.heap
{
display:none;
position:absolute;
list-style-type:none;
left:0;
width:175px;
top:37px;
overflow:hidden;

}

.heapBox .heap .heapOptions
{
display:block;
overflow:hidden;
z-index:20;
position:relative;
}

.heapBox .heap a.sliderUp
{
display:block;
width:100%;
height:15px;
background:#8e44ad url(../gfx/slider_arrow_up.png);
background-repeat:no-repeat;
background-position:center center;
border-bottom:1px solid #541e6a;
position:absolute;
top:0px;
z-index:30;
}

.heapBox .heap a.sliderDown
{
display:block;
width:100%;
height:15px;
background:#8e44ad url(../gfx/slider_arrow_down.png);
background-repeat:no-repeat;
background-position:center center;
border-top:1px solid #541e6a;
position:absolute;
bottom:0px;
z-index:30;
}


.heapBox .heap .heapOptions .heapOption
{
z-index:20;
position:relative;
display:block;
height:35px;
}

.heapBox .heap .heapOptions .heapOption a{
width:100%;
display:block;
background:#8e44ad;
text-indent:20px;
}

.heapBox .heap .heapOptions .heapOption a:hover{
background:#541e6a;
}

.heapBox .heap .heapOptions .heapOption a.selected{
background:#541e6a;
}

.heapBox .heap .heapOptions .heapOption a.disabled{
	color:#AF73C9;
}